{% extends 'admin/layout.html.twig' %}

{% block title %}Expert index
{% endblock %}

{% block body %}
	<h1>Expert index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>LastName</th>
				<th>Email</th>
				<th>Profession</th>
				<th>NumeroSIRET</th>
				<th>Address</th>
				<th>Postal_code</th>
				<th>City</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.expert.profession }}</td>
					<td>{{ user.expert.numeroSIRET }}</td>
					<td>{{ user.expert.address }}</td>
					<td>{{ user.expert.postalCode }}</td>
					<td>{{ user.expert.city }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
