{% extends 'user/layout.html.twig' %}

{% block title %}Theme
{% endblock %}

{% block body %}

	<h1 class="text-center">{{ theme.name }}</h1>


	{{ form_start(echangeForm) }}
	<p>Voici nos experts capable de vous aider:</p>


	{{ form_row(echangeForm.user) }}
	{{ form_row(echangeForm.content) }}

	{# {{ form_row(registrationForm.profession) }} #}


	<button type="submit" class="btn">Envoyer</button>
	{{ form_end(echangeForm) }}


	<a href="{{ path('home') }}">back to list</a>


{% endblock %}
